.avatar {
  max-height: 150px;
  max-width: 150px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  border: 3px solid #666;
  background-size: 100% auto;
}

  .avatar:hover {
    cursor: pointer;
  }
